<div class="body">
    <h1 class="main--header">Welcome to Stepper</h1>
    <div class="main--text">Register here for more details</div>
    <button class="btn btn-primary" routerLink="/stepper">Register</button>
  </div>
<div class="container my-4">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Company</th>
        <th>Contact</th>
        <th>Location</th>
        <th>Nationality</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ABC</td>
        <td>ASD</td>
        <td>DDD</td>
        <td>aaA</td>
        <td>AAA</td>
      </tr>
    </tbody>
  </table>
</div>