<div class="body">
    <h1 class="main--header">Welcome to Stepper</h1>
    <div class="main--text">Register here for more details</div>
    <button class="btn btn-primary" routerLink="/stepper">Register</button>
  </div>
<div class="container my-4">
  <button class="btn btn-success my-3" (click)="fetchData()">Refresh</button>
  <h3 class="text-center">Registered Users</h3>
  <table class="table table-hover" >
    <thead>
      <tr class="table-primary">
        <th>User Name</th>
        <th>Company</th>
        <th>Contact</th>
        <th>Location</th>
        <th>Nationality</th>
      </tr>
    </thead>
    <tbody class="box-table" *ngFor="let item of stepper">
      <tr>
        <td>{{item.username}}</td>
        <td>{{item.company}}</td>
        <td>{{item.contact}}</td>
        <td>{{item.location}}</td>
        <td>{{item.nationality}}</td>
      </tr>
    </tbody>
  </table>
</div>