html,
body {
  width: 100%;
  font-family: sans-serif;
}

.body {
  position: absolute;
  top: 42%;
  left: 42%;
  margin-top: -50px;
  margin-left: -50px;
  text-align: center;

  .main--header {
    font-size: 52px;
  }

  .main--text {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .main-btn {
    cursor: pointer;
    width: 130px;
    height: 38px;
    font-size: 20px;
    background-color: rgb(45, 45, 233);
    color: #fff;
    border: #fff;
    border-radius: 10px;
  }
}
